<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome To the Authorization Learning</h1>
    <h2>Click the Options Below</h2>
    <ol>
        <h4><a href="{% url 'index' %}">Index</a></h4>
        <h4><a href="{% url 'App1:register' %}">Register</a></h4>
        <h4><a href="{% url 'admin:index' %}">Admin</a></h4>

        
        {% if user.is_authenticated %}
            <h4><a href="{% url 'logout' %}">Logout</a></h4>
        {% else %}
            <h4><a href="{% url 'App1:login' %}">Login</a></h4>
        {% endif %}
            
    </ol>
    <hr>

    {% block body_block  %}

    {% endblock  %}
</body>
</html>